<nav
  class="border-t-2 border-white absolute h-full hidden lg:flex shadow-xl bg-blue-300 items-center md:w-64 z-10 py-4 px-6">
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-no-wrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
    <div class="flex items-center flex-no-shrink text-white mr-6 mx-64"></div>
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded">
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <p class="text-white text-xs uppercase py-3 font-bold block">
            <i class="fas fa-book-open mr-2 text-sm"></i>
            Gestión de usuarios
          </p>
          <ul>
            <li class="mx-8 text-gray-800 hover:text-gray-300">
              <i class="fas fa-arrow-circle-right"></i>
              Crear usuario
            </li>
          </ul>
          <ul>
            <li class="mx-8 text-gray-800 hover:text-gray-300">
              <i class="fas fa-arrow-circle-right"></i>
              Usuarios
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
