<div class="flex bg-blue-300 p-6 justify-between">
  <div class="flex items-center flex-no-shrink text-white mr-6">
    <!--    <img src='' class="h-16 w-32 mr-2 absolute" alt="a"/>-->
    <span class="font-semibold text-xl tracking-tight ml-6">
<!--            <a href="http://localhost:4200/home">Web <b>Socket</b></a>-->
      <a href="#">Web <b>Socket</b></a>
    </span>
  </div>
  <div class="mr-10 mt-1">
    <div>
      <button
        class="items-center text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
      >Salir</button>
    </div>
  </div>
</div>
