<div class="bg-blue-300 h-screen w-screen">
  <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
    <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0">
      <div class="flex flex-col w-full md:w-1/2 p-4">
        <div class="flex flex-col flex-1 justify-center mb-8">
          <h1 class="text-4xl text-center font-thin">
            Ingreso al Sistema
          </h1>
          <div class="w-full mt-4">
            <form class="form-horizontal w-3/4 mx-auto">
              <div class="flex flex-col mt-4">
                <input
                  type="text"
                  class="flex-grow h-8 px-2 border rounded border-grey-400"
                  placeholder="Correo electrónico"
                />
              </div>
              <div class="flex flex-col mt-4">
                <input
                  class="flex-grow h-8 px-2 rounded border border-grey-400"
                  type="password"
                  placeholder="Contraseña"
                />
              </div>
              <div class="flex flex-col mt-8">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                  Ingresar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="hidden md:block md:w-1/2 rounded-r-lg">
        <img
          src="../../../assets/img/fond-login.png"
          class="h-full bg-cover bg-center rounded-r-lg"
          alt="div"
        />
      </div>
    </div>
  </div>
</div>
